p {
    font-size: large;
}

.params {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    padding: 0px;
}

.flock-buttons {
    padding-left: 35%;
    padding-right: 35%;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    margin-right: 0px;
}